<h3 class="text-center">HUMAN RESOURCE MANAGMENT SYSTEM</h3>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card" style="width:55%;position:relative;top:80px;left:150px">
            <div class="card-content">
                <h5 class="category-social" style="color:black">
                    <i class="fa fa-user"></i> Register
                </h5>
                <h4 class="card-title">
                    <a href="#pablo">"Focus on Your Employees"</a>
                </h4>
                <p class="card-description">
                    <form action="/register" method="post">
                        <div class="form-group label-floating">
                            <label class="control-label">FirstName</label>
                            <input type="text" name="firstname" value="{{firstname}}" class="form-control" required>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">LastName</label>
                            <input type="text" name="lastname" value="{{lastname}}" class="form-control" required>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input type="email" name="email" value="{{email}}" class="form-control" required>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Password</label>
                            <input type="password" name="password" value="{{password}}" class="form-control" required>
                        </div>
                        <input type="submit" value="Register" class="btn btn-rounded btn-primary">
                    </form>
                </p>
                <div class="footer text-center">
                    <a href="/" class="btn btn-white btn-round" style="color:brown">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>