<h3 class="text-center">HUMAN RESOURCE MANAGMENT SYSTEM</h3>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card" style="width:45%;position:relative;top:150px;left:170px">
            <div class="card-content">
                <h5 class="category-social" style="color:black">
                    <i class="fa fa-user"></i> Login Employee
                </h5>
                <h4 class="card-title">
                    <a href="#pablo">"Focus on Your Goals"</a>
                </h4>
                <p class="card-description">
                    <form action="/emp" method="post">
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input type="email" name="email" value="{{email}}" class="form-control">
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Password</label>
                            <input type="password" name="password" value="{{password}}" class="form-control">
                        </div>
                        <input type="submit" value="LOGIN" class="btn btn-rounded btn-primary">
                    </form>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>